//Fonts
@import 'https://fonts.googleapis.com/css?family=Copse|Open+Sans:300,400,700';

$headFont: 200 1.5em/1.5em Copse, "Helvetica Neue", Helvetica, sans-serif;
$bodyFont: 200 1.2em/1.2em "Open Sans", "Helvetica Neue", Helvetica, sans-serif;

//Colors

$orange: #EA6045;
$yellow: #F8CA4D;
$beige: #F5E5C0;
$blue: #354F66;
$darkBlue: #292D36;
$black: #000000;
$white: #FFFFFF;

$bgColor: $yellow;
$defColor: $white;
