//Fonts
@import 'https://fonts.googleapis.com/css?family=Copse|Open+Sans:300,400,700';
@import 'https://fonts.googleapis.com/css?family=Rubik+One';
@include border-box-sizing; 

$susy: (
  columns: 12,
  container: 60em,
  gutters: .25,
  gutter-position: inside
);

$headFont: Copse, "Helvetica Neue", Helvetica, sans-serif;
$bodyFont: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
$navFont: "Rubik One", "Helvetica Neue", Helvetica, sans-serif;

//Colors

$orange: #EA6045;
$yellow: #F8CA4D;
$beige: #F5E5C0;
$blue: #354F66;
$darkBlue: #292D36;
$black: #000000;
$white: #FFFFFF;
$pink: #B60059;
$green: #4F9C27;

$bgColor: $yellow;
$defColor: $white;


$tiny: 400px;
$small: 650px;
$medium: 960px;
$large: 1200px;

