#about{
	@include container(90%);
	background-color: $opt-darkBlue;
	margin-top: 8%;
	@include display-flex();
    @include align-items(center);
    @include justify-content(center);
    @include flex-direction(column);
	@include breakpoint ($large) {
	    @include container(80%);
	}//container
	 //border: 2px solid $yellow;
	 //border-top: 1px dashed rgba($black, .5);
	.about-intro{
		padding: 10% 0;
		// border: 2px solid $orange;
		@include breakpoint($medium) {
			@include container(80%);
		}
		h2{
			text-align: center;
			padding-bottom: 1em;
			color: $opt-beige;
		}
		p{
			text-align: center;
			line-height: 1.7em;
			color: $opt-beige;
			padding: 20px 0;
		}
	}//about-intro
}