#contact{
	@include container(90%);
	background-color: $opt-darkBlue;
	@include display-flex();
    @include align-items(center);
    @include justify-content(space-between);
    @include flex-direction(column);
	@include breakpoint ($large) {
	    @include container(80%);
	}//breakpoint
	@include breakpoint ($small 0) {
		@include container(100%);
	}//breakpoint
	margin-top: 0;
	//border: 2px solid $yellow;
	border-top: 1px dashed rgba($white, .9);
	padding: 5% 0;
	.contact-intro{
		@include display-flex();
		@include flex-direction(column);
		@include align-items(center);	
		@include justify-content(center);
		padding: 10% 3%;
		// border: 2px solid $orange;
		@include breakpoint($medium) {
			@include container(80%);
		}
		@include breakpoint($small 0) {
			padding: 10% 3%;
		} 
		h2{
			text-align: center;
			padding: 1em;
			color: $white;
		}
		h4{
			text-align: center;
			line-height: 1.7em;
			font-family: $bodyFont;
			font-size: 1.3em;
			padding-bottom: 60px;
			color: $white;
		}
		p{
			font-size: 1.2em;
			line-height: 1em;
			padding: 10px 0;
			color: $white;
			img{
				width: 1.7em;
				padding-right: 20px;
			}
		}
		a{
			margin-top: 70px;
			padding: 8px 12px;
			border-right: 2px solid $white;
			border-left: 2px solid $white;
			text-decoration: none;
			font-family: $bodyFont;
			font-size: 1.2em;
			color: $white;
			@include transition(all .8s);
			border-bottom: 2px solid transparent;
			&:hover{
				border-bottom: 2px solid red;
				border-right: 2px solid transparent;
				border-left: 2px solid transparent;

				@include scale(1.1);
				@include transition(all .8s);
			}
			img{
				width: 1.7em;
				padding-right: 20px;
			}
		}
	}//contact-intro
}