#entrance{
	@include clearfix;
	@include display-flex();
    @include align-items(center);
    @include justify-content(center);
    .social{
	    	list-style: none;
		  	display: table;
		  	position: absolute;
		  	top: 20px;
		  	right: 30px;
		  	z-index: 1;
	    	li{
		  		display: table-cell;
		  		padding: 0 10px;
		  		cursor: pointer;
		  		img{
		  			opacity: .7;
		  			width: 30px;
		  			@include transition(all 0.8s);
		  			&:hover{
		  				@include scale(1.3);
		  				@include transition(all 0.8s);
		  				opacity: 1;
		  			}
		  		}//img
	  		}//li
	    }//.social
	.text-wrapper{
		@include breakpoint($medium) {
			position: relative;
			display: block;
			float: left;
			padding: 30px;
			@include container(80%);
			h1{
				font-size: 1.2em;
				letter-spacing: 2px;
				text-align: left;
			}
			p{
				font-size: 1.2em;
				text-align: left;
			}		}
		display: none;
		@include breakpoint($medium 0) {
			display: block;
			position: absolute;
			bottom: 60px;
			padding: 30px;
			@include container(90%);
			h1{
				font-size: 1.2em;
				letter-spacing: 2px;
				text-align: left;
			}
			p{
				font-size: 1.2em;
				text-align: left;
			}
		}
	}
	.image-wrapper {
		overflow: hidden;
  		position: relative;
  		margin: 0 auto;
  		width: 40em; 
  		height: 27em;
		.intro-image {
  			overflow: hidden;
  			position: absolute;  
  			transform: skewX(-55.98deg);
  				img { 
		  			width: 100%; 
					height: 100%; 
					opacity: .7; 
					transition: .5s; 
					left: -.25em;
				  	transform-origin: 100% 0;
				  	transform: skewX(55.98deg);
				  	transform-origin: inherit;
	  			&:hover{
	  				opacity: 1;
	  			}//hover
	  			}//img
		}//option
	}//page-option
    .content-wrapper{
		@include breakpoint($small) {
			h1 {
				font-family: $headFont;
		       	position: absolute;
		       	right: -50px;
		       	bottom: 200px;
		       	font-size: 1.6em;
		       	line-height: 1em;
		       	color: $black;
		       	z-index: 999;
		       	opacity: .8;
		       	visibility: visible;
		       	padding: 15px;
		       	display: block;
		       	text-transform: lowercase;
		       @include transform(rotate(90deg));
		    } //h1
		}
	    display: none;
	}//content-wrapper
}//entrance