.toggle {
   position: fixed;
   top: 5%;
   left: 50px;
   z-index: 999;
   opacity: 1;
   visibility: visible;
   cursor: pointer;
   @include transition(
     opacity 0s linear,
     visibility 0s linear 510ms
   );
 }
.toggleX{
  position: fixed;
  top: 40px;
  left: 230px;
	visibility: hidden;
	opacity: 0;
	@include transition(
    opacity 500ms linear,
    visibility 0s linear
  );
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: -300px;
  @include transition();
  width: 300px;
  padding: 30px 0;
  background: rgba($navBgColor, .9);
  z-index: 999;
  .navigation{
  	list-style: none;
  	margin: 70px 0 0 0;
  	padding: 0;
  	li{
  	  margin-bottom: 8px;
  	  padding: 0;
  	  display: block;
      a{
        opacity: 1;
        width: 100%;
        color: $navColor;
        font-family: $navFont;
        font-size: 1.4em;
        line-height: 1.2em;
        text-decoration: none;
        display: block;
        padding: 20px 0;
        @include transition(color .8s);
        &:hover{
        color: $linkHover;
        border-right: 5px solid $linkHover;
        font-weight: 700;
        @include transition(color .8s);
        }//a:hover
      }//a
  	}//li
  }//ul
  .social{
  	list-style: none;
  	display: table;
  	margin-left: 30px;
  	position: fixed;
  	bottom: 40px;
    	li{
  		display: table-cell;
  		padding: 0 10px;
  		cursor: pointer;
      text-align: center;
  		img{
  			width: 40px;
  			@include transition(all 0.8s);
        opacity: .7;

  			&:hover{
  				@include scale(1.3);
  				@include transition(all 0.8s);
          opacity: 1;
  			}
  		}//img
  	}//li
  }//social
 

}//sidebar

#sidebartoggler {
  display: none;
}

 #sidebartoggler:checked + .wrapper {
 	.sidebar {
    	left: 0px; 
	}
	.toggle{
		//left:380px;
		visibility: hidden;
    opacity: 0;
    @include transition(
    opacity 0s linear,
    visibility 0s linear 1s
  );
	}
	.toggleX{
		visibility: visible;
		opacity: 1;
    font-family: $bodyFont;
		text-decoration: none;
		font-size: 2em;
		color: $xColor;
		position: fixed;
		top: 40px;
		left: 230px;
		z-index: 1000;
		cursor: pointer;
		@include transition(
    	opacity 500ms linear,
    	visibility 0s linear 500ms,
    	transform 0.3s
  		);
		&:hover{
			@include scale(1.3);
      @include transform(rotate(180deg));
		  color: $xHover;
		  @include transition(transform 0.3s);
		}
	}//toggleX
	//.content{
		//padding-left:360px;
	//}
}


