#previous-work{
	margin-top: 8%;
	@include display-flex();
    @include align-items(center);
    @include justify-content(center);
    @include flex-direction(column);
	@include breakpoint ($large) {
	    @include container(80%);
	}//container
	 //border: 2px solid $yellow;
	 border-top: 1px dashed rgba($black, .5);
	.previous-intro{
		padding: 2em 0;
		// border: 2px solid $orange;
		@include breakpoint($medium) {
			@include container(80%);
		}
		h2{
			text-align: center;
			padding: 1em;
		}
		p{
			text-align: center;
			line-height: 1.7em;
		}
	}//previous-intro
	.content-group{
		padding-top: 3em;
		//border: 2px solid $blue;
		.group-item-left, .group-item-right{
			//border: 2px solid $green;
			margin: 10% 0;
			@include display-flex(inline-flex);
			@include justify-content(space-around);
			.project-image{
				@include span(6 of 12);
				&#reflections{
					@include bgImg("../images/reflections-ss.png");
					height: 350px;
					width: 400px; 	
					background-size: contain;
					opacity: .7;
					@include transition(opacity 0.8s);
					&:hover{
	  				opacity: 1;
	  				@include transition(opacity 0.8s);
	  				}//hover
				}
				&#portfolio{
					@include bgImg("../images/portfolio-ss.png");
					height: 350px;
					width: 400px; 	
					background-size: contain;
					opacity: .7;
					@include transition(opacity 0.8s);
					&:hover{
	  				opacity: 1;
	  				@include transition(opacity 0.8s);
	  				}//hover
				}
				&#pipe-clay{
					@include bgImg("../images/pipe-clay-ss.png");
					height: 350px;
					width: 400px; 	
					background-size: contain;
					opacity: .7;
					@include transition(opacity 0.8s);
					&:hover{
	  				opacity: 1;
	  				@include transition(opacity 0.8s);
	  				}//hover
				}
			}//img
			.text-group{
				@include align-self(center);
				@include span(6 of 12);
				padding: 2em;
				//border: 2px solid $pink;
				h3{
					font-size: 1.4em;
					text-align: left;
					padding-bottom: 1.1em;
				}//h3
		
				p{
					text-align: left;
					line-height: 1.5em;
					font-size: 1.1em;
				}//p
			}//text-group
			@include breakpoint ($medium 0) {
				@include display-flex(flex);
				@include flex-direction(column);
				@include justify-content(center);
				.project-image{
					@include span(12 of 12);
					margin: 30px 0;
				}
				.text-group{
					@include span(12 of 12);
				}
			}
		}//group-item-left, group-item-right
		.group-item-left{
			.project-image{
				@include order(1);
			}
			.text-group{
				@include order(0);
			}
		}
		.group-item-right{
			@include breakpoint ($medium 0) {
				.project-image{
					@include order(1);
				}
				.text-group{
					@include order(0);
				}
			}
		}
	}//content-group
}//previous-work