#previous-work{
	margin-top: 8%;
	@include display-flex();
    @include align-items(center);
    @include justify-content(center);
    @include flex-direction(column);
	@include breakpoint ($large) {
	    @include container(80%);
	}//container
	@include breakpoint ($medium 0) {
	    border-top: 1px dashed rgba($darkBlue, .9);
	}//container
	.previous-intro{
		.seperator{
			display: none;
			@include breakpoint($medium) {
				text-align: center;
				display: block;
				margin: 2rem 0 9rem 0;
				width: 100%;
				height: 1px;
				background-color: rgba($darkBlue, .5);
				@include rotate(5deg);
			}
		}
		padding: 2em 0;
		h2{
			text-align: center;
			padding: 1em;
		}
		p{
			text-align: center;
			line-height: 1.7em;
		}
	}//previous-intro
	.content-group{
		padding-top: 3em;
		text-align: center;
		.group-item-left, .group-item-right{
			margin: 6% 0;
			@include display-flex(inline-flex);
			@include align-content(center);
			@include justify-content(space-between);
			@include container(90%);
			.project-image{
				@include span(6 of 12);
				&#reflections{
					@include bgImg("../images/reflections-ss.png");
					height: 350px;
					max-width: 400px; 	
					background-size: contain;
					@include breakpoint($medium) {
						@include transition(all 0.9s);
						&:hover{
		  				@include scale(1.1);
		  				@include transition(all 0.9s);
		  				}//hover
					}
				}
				&#portfolio{
					@include bgImg("../images/portfolio-ss.png");
					height: 350px;
					max-width: 400px; 	
					background-size: contain;
					@include breakpoint($medium) {
						@include transition(all 0.9s);
						&:hover{
		  				@include scale(1.1);
		  				@include transition(all 0.9s);
		  				}//hover
					}
				}
				&#pipe-clay{
					@include bgImg("../images/pipe-clay-ss.png");
					height: 350px;
					max-width: 400px; 	
					background-size: contain;
					@include breakpoint($medium) {
						@include transition(all 0.9s);
						&:hover{
		  				@include scale(1.1);
		  				@include transition(all 0.9s);
		  				}//hover
					}
				}
			}//project image
			.text-group{
				@include span(6 of 12);
				padding: 2em;
				@include align-self(flex-start);
				h3{
					font-size: 1.4em;
					text-align: left;
					padding-bottom: 1.1em;
				}//h3
		
				p{
					text-align: left;
					line-height: 1.5em;
					font-size: 1.1em;
				}//p
				.seperator{
					display: none;
					@include breakpoint($medium) {
						display: block;
						margin: 14rem 0 5rem 0;
						width: 100%;
						height: 1px;
						background-color: rgba($darkBlue, .7);

						&.right{
							@include rotate(-15deg);
						}
						&.left{
							@include rotate(15deg);
						}
					}
				}
			}//text-group
			@include breakpoint ($small 0) {
				@include display-flex(flex);
				@include flex-direction(column);
				@include justify-content(center);
				@include align-content(center);
				@include container(100%);
				.project-image{
					@include span(12 of 12);
					@include align-self(center);
					margin: 10px 0 0 0;
					width: 100%;
				}
				.text-group{
					@include span(12 of 12);
					padding: 0 3%;
					h3{
						text-align: center;
					}
					p{
						text-align: center;
					}
				}
			}//breakpoint
		}//group-item-left, group-item-right
		.group-item-left{
			.project-image{
				@include order(1);
			}
			.text-group{
				@include order(0);
			}
		}
		.group-item-right{
			@include breakpoint ($small 0) {
				.project-image{
					@include order(1);
				}
				.text-group{
					@include order(0);
				}
			}
		}
	}//content-group
}//previous-work